body{
    background-color:  #4c4c4c;
	font-family: "Arial Black", "Arial", Sans-serif;
}

.l_header{
   margin-left: 2%;
   width: 96%;
   height: 10%;
   border: black solid 2px;
   text-align: left;
   background-color:  darkgray;
   color: white;
   font-family: "Arial Black", "Arial", Sans-serif;
}
#headerdiv {
	padding-top: 7px;
	padding-left: 20px;
	line-height: 20%;
}
#upper {
	color: #9DEECA;
}